# =============================================================================
#  ArHShRn :: Ragdoll SoC :: Cattery Bootloader
#   _____                 _       _ _  _____        _____ 
#  |  __ \               | |     | | |/ ____|      / ____|
#  | |__) |__ _  __ _  __| | ___ | | | (___   ___ | |     
#  |  _  // _` |/ _` |/ _` |/ _ \| | |\___ \ / _ \| |     
#  | | \ \ (_| | (_| | (_| | (_) | | |____) | (_) | |____ 
#  |_|  \_\__,_|\__, |\__,_|\___/|_|_|_____/ \___/ \_____|
#                __/ |                                    
#               |___/                                     
#                          /\_____/\
#                         /  o   o  \
#                        ( ==  ^  == )
#                         )         (
#                        (           )
#                       ( (  )   (  ) )
#                      (__(__)___(__)__)                                           

#  Code And Concept By ArHShRn
#  https://github.com/ArHShRn
# =============================================================================

# Note: Change distclean.sh after editing .gitignore
# ============================================================================= My Bootloader
# Bootloader will now be a submodule of RagdollSoC

download.sh
upload.sh
madmewmew.jpg
pic.h
*.o
*.elf
*.srec
*.s
*.bin
*.coe